body, html{
    /* height: 29150px; */
    background-color: rgb(10, 10, 10);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Dancing Script", cursive;
}
#buttonContainer{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
button{
    width: 126px;
    height: 60px;
}
.container{
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
}
.card{
    width: 80%;
    background-color: rgb(10, 10, 10);
    left: 10%;
    font-size: 70px;
    margin: 0 auto;
    color: white;
    position: absolute;
    text-align: center;
    display: inline-block;
    font-weight: 400;
}
#intro{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 60px;
}
#title, #author{
    text-align: center;
}

#card1{

    top: 5000px;

    
} 

#card2{
    top: 5000px;

}
#card3{
    top: 5000px;

}
#card4{
    top: 5000px;

    
}
#card5{

    top: 5000px;

}
#card6{
    top: 5000px;

}
#card7{
    top: 5000px;

}
#card8{

    top: 5000px;

}

#card9{

    top: 5000px;
}

#card10{
    top: 5000px;
}

#card11{
    top: 5000px;

}

#card12{

    top: 5000px;
}
#card13{


    top: 5000px;
}
#card14{
    top: 5000px;


}
#card15{

    top: 5000px;
}
#card16{

    top: 5000px;
}
#card17{

    top: 5000px;
}
#card18{

    top: 5000px;
}
@media (min-width: 300px) and (max-width: 600px) {
    .card{
        font-size: 38px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .card{
        font-size: 44px;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    .card{
        font-size: 50px;
    }
}
@media (min-width: 1200px)  {
    .card{
        font-size: 70px;
    }
}